<h1>New Showtime: <%= @showtime.show_datetime.strftime("%A, %B %-d, %Y") %></h1>
<h2>Times Available This Day</h2>
    
    <% if @times_display.empty? %>
        <h2>We're sorry. This day is booked. Please click <%= link_to "here", root_url, style: "color:blue" %> </h2>
    <% else %>
        <h2>
        <% @times_display.each do |i| %>
            <span><%= i %> </span>
        <% end %>
       </h2>
        <%= render 'form', showtime: @showtime %>
    <% end %> 

<%= link_to 'Back', showtimes_path %>
